beautifulsoup4
bs4
defusedxml
future
iso-639
iso3166
lxml
numpy
oauthlib
olefile
opencv-contrib-python
Pillow
prawcore
pycryptodome
pytesseract
python-twitter
requests
requests-oauthlib
requests-toolbelt
retrying
scipy
six
streamlink
update-checker